/* Global */
:root {

	/* Colors */
	--accent-color: #ABEBC6;
	--item-bg-color: #24242425;
	--main-text-color: #e6e6e6;
	--secondary-text-color: #242424;
	

	/* Font weights */
	--extra-light-font: 200;
	--light-font: 300;
	--medium-font: 400;
	--semi-bold-font: 500;
	--bold-font: 700;

	/* Gradients */
	--background-gradient: linear-gradient(145deg, rgba(23,23,23,1) 30%, rgba(11,11,11,1) 80%);
	--accent-color-gradient: linear-gradient(145deg, rgba(171, 235, 192, 1) 30%, rgb(122, 221, 163) 80%);
	--accent-dark-color-gradient: linear-gradient(145deg, rgb(125, 202, 151) 30%, rgb(101, 201, 143) 80%);

}

input {
	color: var(--main-text-color);
	font-size: 2rem;
	font-weight: var(--light-font);
	font-family: 'Josefin Sans', sans-serif;
}

.anchor {
	opacity: 0;
}

.movement {
	background-color: #0E0F0F;
	background: var(--background-gradient);
	background-position: center;
}

.title h1 {
	color: var(--accent-color);
	font-size: 3.7rem;
	font-weight: var(--extra-light-font);
	letter-spacing: -3px;
	text-align: center;
	z-index: 1;
}

/* Header */

@media (min-width: 768px) {
	.website-header {
			background-color: transparent;
			height: 10rem;
			position: fixed;
			padding: 0;
			top: 0;
			margin: 0 auto;
			width: calc(100% - 30rem);
			left: 30rem;
			z-index: 1;
			transition: width 1s, left 1s;
	}

	.website-header.active {

			width: calc(100% - 0rem);
			left: 0;
			transition: width 1s, left 1s;
	}

	.articles {
			margin: 20rem auto;
			width: 80%;
	}

	.center-title {
			margin: 3rem auto;
			text-align: center;
	}
}

.change-header-color {
	background-color: #161616;
	border-bottom: solid 1px var(--accent-color);
	transition: all background-color 1.5s;
}

.header-content {
	align-items: center;
	display: flex;
	justify-content: space-between;
	left: 0;
	margin: 0 auto;
	width: 80%;
	z-index: 1;
}

.header-title {
	border-radius: 1rem;
	z-index: 1;
}

.toggle-btn {
	margin-top: 2rem;
	z-index: 1;
}

.toggle-btn span {
	font-size: 5.5rem;
	cursor: pointer;
	color: var(--accent-color);
	z-index: 1;
}

.main-content-text-wrapper .image img {
	height: 6.5rem;
	width: 30.5rem;
}

.main-content-text-wrapper hr {
	background-color: var(--accent-color);
	border: none;
	border-radius: 3rem;
	height: 3px;
	width: 35rem;
	margin: 0 auto;
}

.main-content-text-wrapper .subtext {
	height: fit-content;
	width: fit-content;
	margin: 2rem auto;
}

.main-content-text-wrapper .subtext h3 {
	font-weight: var(--light-font);
}

/* About */

.website-about-content {
	display: flex;
	flex-direction: column;
}

.presentation-wrapper {

	width: 100%;
	min-height: 25rem;
	height: fit-content;
	background-color: var(--item-bg-color);
	padding: 2rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.name-wrapper h3 {
	color: #ABEBC6;
	font-weight: var(--light-font);
	font-size: 3.3rem;
	text-align: center;
}

.text-wrapper {
	height: fit-content;
	margin: 2rem auto;
	width: 85%;
}

.text-wrapper p {
	text-align: center;
	font-family: 'Poppins';
}

.link-cv-btn {
	border-radius: .5rem;
	border: solid 2px var(--accent-color);
	color: var(--accent-color);
	font-weight: 400;
	padding: 1rem 3rem;
	margin: 0 auto;
	transition: all .5s;
}

.link-cv-btn:hover {
	background-color: var(--accent-color);
	background: var(--accent-color-gradient);
	border: none;
	box-shadow: 0px 0px 13px -5px var(--accent-color);
	color: var(--secondary-text-color);
}

.deco {
	background-color: var(--accent-color);
	background: var(--accent-color-gradient);
	border: none;
	height: 5px;
	width: 285px;
	margin-top: 1rem;
}

/* Projects */

.recent-projects {
	display: flex;
	flex-direction: column;
	margin: 5rem auto;
}

.projects-grid-wrapper {
	gap: 2rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0 auto;
	width: 100%;
}

.grid-item {
	padding: 12px;
	min-height: 20rem;
	height: 100%;
	width: 100%;
	text-align: left;
}

.grid-item .text-bx a h3 {
	color: var(--main-text-color);
	font-size: 2.5rem;
	font-weight: var(--light-font);
}

/* services carousel */

.carousel-wrapper {
	overflow: hidden;
	margin: auto;
}

.carousel-wrapper .flex-wrapper {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

/* Apply 'border-box' to 'box-sizing' so border and padding is included in the width and height. */
.carousel-wrapper * {
	box-sizing: border-box;
}

/* We'll be using the 'transform' property to move the carousel's items, so setting the 'transform-style' to 'preserve-3d' will make sure our nested elements are rendered properly in the 3D space. */
.carousel {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	flex-basis: 90%;
}

/* By default we're hiding items (except the initial one) until the JS initiates. Elements are absolutely positioned with a width of 100% (as we're styling for mobile first), letting the content's height dictate the height of the carousel. Our magic property here for all our animation needs is 'transition', taking the properties we wish to animate 'transform' and 'opacity', along with the length of time in seconds. */
.carousel-group {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2rem;
	row-gap: 2rem;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	margin: auto;
	padding: 2rem;
	z-index: 100;
	transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel-group.responsive {
	column-gap: 1rem;
	row-gap: 1rem;
}

/* Display the initial item and bring it to the front using 'z-index'. These styles also apply to the 'active' item. */
.carousel-group.initial,
.carousel-group.active {
	opacity: 1;
	position: relative;
	z-index: 900;
}

/* Set 'z-index' to sit behind our '.active' item. */
.carousel-group.prev,
.carousel-group.next {
	z-index: 800;
}

/* Translate previous item to the left */
.carousel-group.prev {
	transform: translateX(-100%);
}

/* Translate next item to the right */
.carousel-group.next {
	transform: translateX(100%);
}

.carousel-item {
	background-color: var(--item-bg-color);
	border-radius: 1rem;
	padding: 4rem 2rem;
	min-width: 33%;
	height: fit-content;
	top: 0;
	width: 100%;
	margin: auto;
	z-index: 100;
	transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel-item .services-subtitle {
	text-align: center;
	margin-bottom: 2rem;
}

.services-icon {
	color: var(--main-text-color);
	text-align: center;
}

.services-icon span {
	font-size: 4rem;
}

.carousel-item .services-text,
.services-text p {
	padding: 0 1rem;
	text-align: center;
}

/* Style navigation buttons to sit in the middle, either side of the carousel. */
.carousel-button--prev,
.carousel-button--next {
	border-radius: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5rem;
	height: 5rem;
	cursor: pointer;
	flex-basis: 5%;
	z-index: 1001;
	color: var(--accent-color);
	font-size: 3rem;
}

.carousel-button--next:hover,
.carousel-button--prev:hover {
	background-color: var(--item-bg-color);
	transition: ease .5s;
	cursor: pointer;
}

.carousel-button--prev {
	left: 0;
}

.carousel-button--next {
	right: 0;
}

/* Testimonials */

.testimonials-wrapper {
	display: flex;
	flex-direction: column;
}

.testimonials-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2rem;
	row-gap: 5rem;
	margin: 0 auto;
}

.testominals-item {
	background-color: var(--item-bg-color);
	border-radius: 1rem;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.testimonials-content {
	align-items: center;
	display: flex;
	width: 100%;
}

.testimonials-item-img {
	height: 10rem;
	width: 10rem;
	margin: 0 3rem 3rem 0;
}

.testimonials-item-img img {
	height: 100%;
	width: 100%;
}

.testimonials-item-name {
	border-left: solid 5px var(--accent-color);
	height: fit-content;
	width: 65%;
	padding-left: 10px;
}

/* Contact */

.contact-title hr {
	height: 3px;
	width: 26%;
	margin: 2rem auto;
}

.contact-form {
	background-color: var(--item-bg-color);
	border-radius: 1rem;
	min-width: 50rem;
	width: fit-content;
	margin: 0 auto;
}

.contact-form form {
	padding: 4rem;
	padding-bottom: 2rem;
}

.input-box,
#textarea-box {
	position: relative;
	width: 100%;
	height: 5rem;
	margin-bottom: 35px;
}

#textarea-box {
	height: fit-content;
	margin-bottom: 10px;
}

.input-box:last-child {
	margin-bottom: 0;
}

.input-box input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: solid 1px var(--accent-color);
	color: var(--main-text-color);
	padding: 1rem;
	box-sizing: border-box;
	outline: none;
	font-size: 18px;
	font-weight: var(--light-font);
}

#textarea-box textarea {
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: solid 1px var(--accent-color);
	color: var(--main-text-color);
	padding: 1rem;
	box-sizing: border-box;
	outline: none;
	font-size: 18px;
	font-weight: var(--light-font);
	resize: none;
	min-height: 7rem;
	height: fit-content;
}

.input-box span,
#textarea-box span {
	position: absolute;
	top: 1px;
	left: 1px;
	padding: 1rem;
	display: inline-block;
	font-size: 18px;
	font-weight: var(--light-font);
	pointer-events: none;
}

.input-box input:focus~span,
.input-box input:valid~span,
#textarea-box textarea:focus~span,
#textarea-box textarea:valid~span {
	transform: translateX(-1rem) translateY(-3.2rem);
	font-size: 16px;
	transition: all .3s;
}

.btn-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-box .send-btn {
	background-color: var(--accent-color);
	background: var(--accent-color-gradient);
	border: none;
	border-radius: .5rem;
	color: var(--secondary-text-color);
	font-weight: var(--medium-font);
	font-size: 18px;
	padding: 1rem 5rem;
	transition: all .5s;
}

.send-btn:hover {
	background-color: var(--item-bg-color);
	background: var(--accent-dark-color-gradient);
	box-shadow: 0px 0px 13px -5px var(--accent-color);
}

/* Website footer */

.website-footer {
	background-color: var(--item-bg-color);
	border-top: solid 1px var(--accent-color);
	bottom: 0;
	height: fit-content;
	width: 100%;
	padding: 3rem 0;

}

.footer-content {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: fit-content;
	height: 100%;
}

.copyright-wrapper h4 {
	font-size: 2.3rem;
	font-weight: var(--light-font);
}


@media (min-width: 769px) {
	.website-main-content {
			position: absolute;
			margin: 0 auto;

			width: calc(100% - 30rem);
			left: 30rem;
			transition: width 1s, left 1s;
	}

	.website-main-content.active {
			width: calc(100% - 0rem);
			left: 0;

			transition: width 1s, left 1s;
	}
}

/* Menu */

@media (min-width: 768px) {
	.navigation {
			border-right: solid 1px var(--accent-color);
			position: fixed;
			width: 30rem;
			height: 100%;
			background-color: #161616;
			text-align: left;
			transition: width 1s;
			overflow: hidden;
			z-index: 2;
			top: 0;
	}

	.navigation .menu-items {
			width: auto;
			height: fit-content;
			padding: 2rem;
	}

	.navigation.active {
			width: 0;
			transition: width 1s;
	}
}

.menu-items ul {
	margin-top: 10rem;
	width: 15rem;
	display: grid;
	grid-template-columns: repeat(1, fr);
	row-gap: .5rem;
}

.menu-items ul li a {
	color: var(--main-text-color);
	font-size: 1.8rem;
	display: block;
	margin: 0;
	padding: 5px 5px;
}

.menu-items ul li a:hover {
	color: var(--accent-color);
	transition: all 0.6s ease;
}



.menu-items ul .contact-nav-btn a:hover {
	background-color: var(--item-bg-color);
	background: var(--accent-dark-color-gradient);
	box-shadow: 0px 0px 13px -5px var(--accent-color);
	color: var(--secondary-text-color);
}

.socialmedia-menu-wrapper {
	height: 10rem;
	width: auto;
	padding: 2rem;
	position: absolute;
	bottom: 0;
}

.socialmedia-menu-wrapper .socialmedia-title h4 {
	font-size: 2.2rem;
	font-weight: var(--light-font);
	margin: 1rem auto;
}

.socialmedia-menu-wrapper .socialmedia-menu-items {
	margin: 0 auto;
	width: 100%;
}

.socialmedia-menu-wrapper .socialmedia-menu-items ol {
	column-gap: 1.5rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 0;
}

.socialmedia-menu-wrapper ol li a {
	border-radius: 1.5rem;
	grid-template-columns: repeat(4, 1fr);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.socialmedia-menu-wrapper ol li a .icon {
	color: var(--main-text-color);
	font-size: 3rem;
	margin: 0 auto;
	text-align: center;
}

.socialmedia-menu-wrapper ol li a:hover .fa-whatsapp {

	color: #4CAF50;
	transform: translateY(-1rem);
	transition: ease .5s;
}

.socialmedia-menu-wrapper ol li a:hover .fa-envelope {

	color: #CB4335;
	transform: translateY(-1rem);
	transition: ease .5s;
}

.socialmedia-menu-wrapper ol li a:hover .fa-instagram {

	color: #F06292;
	transform: translateY(-1rem);
	transition: all .5s;
}

.socialmedia-menu-wrapper ol li a:hover .fa-linkedin-in {

	color: #1976D2;
	transform: translateY(-1rem);
	transition: ease .5s;
}

/* Mobile */

@media (max-width: 768px) {

	html {
			box-sizing: border-box;
			padding: 0;
			margin: 0;
	}

	body {
			max-width: 100%;

	}

	* {
			padding: 0;
			margin: 0;
	}

	p {
			margin: 0;
			padding: 0;
	}

	li, ol {
			list-style: none;
			padding: 0;
			margin: 0;
	}

	a {
			text-decoration: none;
	}

	.articles {
			margin: 10rem auto;
			width: 90%;
	}

	.center-title {
			margin: 2rem auto;
			text-align: center;
	}

	/* Header */

	.website-header {
			position: fixed;
			height: 15rem;
			padding: 0;
			margin: 0 auto;
			width: 100%;
			z-index: 1;
			transition: height 1s, top 1s, background-color 1s;
			top: 0;
			background-color: #161616;
			border-bottom: solid 1px var(--accent-color);

	}

	.website-header.active {
			width: 100%;
			top: 0;
			transition: height 1s, top 1s;
	}

	.header-content {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
	}

	.header-title {
			text-align: left;
	}

	.navigation {
			width: 100%;
			height: calc(15rem - 15rem);
			position: fixed;
			border-right: none;
			background-color: #161616;
			text-align: left;
			transition: height 1s, top 1s;
			overflow: hidden;
			top: 15rem;
			z-index: 1;
	}

	.navigation.active {
			height: calc(15rem - 0rem);
			border-bottom: solid 1px var(--accent-color);
			transition: height 1s, top 1s;
	}



	.navigation nav {
			display: flex;
			justify-content: center;
			height: 100%;
	}

	.navigation a {
			color: var(--main-text-color);
			display: block;
			margin: 0;
			padding: 0.5rem 1rem;
	}

	.nav-menu {
			width: 100%;
			height: 100%;
	}

	.menu-items {
			height: 100%;
			margin: 0 auto;
			flex-basis: 100%;
	}

	.menu-items ul {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			column-gap: .5rem;
			width: fit-content;
			margin: 4rem auto;
			padding: 2rem;
	}


	.contact-nav-btn a {
			background-color: var(--accent-color);
			background: var(--accent-color-gradient);
			border: none;
			border-radius: .5rem;
			font-weight: var(--medium-font);
	}

	.socialmedia-menu-wrapper {
			display: none;
	}

	.socialmedia-title {
			display: none;
	}


	/* Main content */

	.website-main-content {
			position: absolute;
			height: calc(100% - 0rem);
			transition: height 1s, top 1s;
	}

	.movement {
			transform: translateY(0rem);
			transition: ease-out 1s, top 1s;
	}

	.movement.active {
			transform: translateY(20rem);
			transition: ease-out 1s, top 1s;
	}

	.website-first-content {
			display: flex;
			flex-direction: column;
			margin: 30rem auto 15rem;
			width: 55rem;
	}

	.website-about-content {
			display: flex;
			flex-direction: column;
	}

	.presentation-wrapper {
			width: 80%;
			background-color: var(--item-bg-color);
			padding: 3rem;
			border-radius: 1rem;
			margin: 0 auto;
	}


	.name-wrapper h3 {
			color: #ABEBC6;
			font-weight: var(--semi-bold-font);
			font-size: 3.5rem;
	}

	.text-wrapper {
			max-width: 100%;
			margin: 2rem auto;
	}

	.link-cv-btn {
			border: solid 2px var(--accent-color);
			padding: 1rem 3rem;
	}

	/* Services */

	.carousel-group {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			column-gap: 2rem;
			row-gap: 2rem;
	}

	/* Projects */

	.recent-projects {
			display: flex;
			flex-direction: column;
			margin: 5rem auto;
	}

	.projects-grid-wrapper {
			column-gap: 1rem;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin: 0 auto;
			row-gap: 1.5rem;
	}

	.grid-item {
			border: none;
			min-height: 20rem;
			height: 100%;
			width: 100%;
			position: relative;
			overflow: hidden;
	}

	.grid-item .img-bx {
			position: relative;
			width: 100%;
			height: 100%;
			transform: translateY(0);
			transition: .5s ease-in-out;
	}

	.grid-item:hover .img-bx {
			transform: translateY(-20%);
			transition: ease-in .5s;
	}

	.grid-item .img-bx img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;

	}

	.grid-item:hover .text-bx {
			transform: translateY(-100%);
			transition: ease-in .5s;
			text-align: center;
	}

	.grid-item .text-bx a h3 {
			color: var(--main-text-color);
			font-size: 2.7rem;
			font-weight: var(--light-font);
	}

	/* Testimonials */

	.testimonials-grid {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			column-gap: 2rem;
			row-gap: 2rem;
			margin: 0 auto;
	}

}